*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #002333;
    color: #fff;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    background: #011C28;
    align-items: center;
}
.logo{
    width: 305px;
    height: 50px;
    background-image: url(images/logo.png);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.2s;
}
nav ul li a:hover{
    color: #159A9C;
}
/* ----------------Main text--------------- */
.header-text{
    margin-top: 300px;
    font-size: 50px;
    padding: 10px 130px;
    display: flex;
    justify-content: space-between;
}
.header-text h1{
    font-size: 70px;
}
.header-text p{
    font-size: 30px;
    color: #159A9C;    
}
.header-text .button-line{
    font-size: 50px;
}
.header-text button{
    background-color: #159A9C;  
    color: #011C28;               
    padding: 20px 140px;      
    font-size: 50px;
    font-weight: bold;
    border: none;               
    border-radius: 25px;         
    cursor: pointer;
    margin-top: 20px;
    transition: color 0.5s;
}
.header-text button:hover{
    background-color: #DEEFE7;
}
/* ----------------about--------------- */
.about{
    margin-top: 180px;
    padding: 10px 70px;
    height: 500px;
    width: 80%;
    border-radius: 0 100px 100px 0;
    background-color: #011C28;
    justify-content: space-between;
}
.about h1{
    margin-top: 10px;
    font-size: 60px;
}
.about p{
    margin-top: 10px;
    font-size: 24px;
}
.logo{ 
    width: 305px;
    height: 50px;
    background-image: url(images/logo.png);
    background-size: cover;
    background-position: center;
}
.info-website{
    margin-left: 20%;
    margin-top: 100px;
    padding: 10px 70px;
    height: 500px;
    width: 80%;
    border-radius: 100px 0 0 100px;
    background-color: #011C28;
    display: flex;
    justify-content: space-between;
}
.info-image{
    margin-top: 10px;
    width: 400px;
    height: 300px;
    background-image: url(images/image1.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
}
.info-website h1{
    margin-top: 10px; 
    font-size: 60px;
}
.info-website p{
    margin-top: 10px;
    font-size: 24px;
}
.contacts{
    margin-top: 100px;
    padding: 10px 70px;
    height: 500px;
    background: #011C28;
}
.contacts h1{
    font-size: 60px;
}
.contacts p{
    margin-top: 2%;
    font-size: 24px;
}
